@media screen and (max-width: 425px){
header__sign-in{
   margin:16px 16px 0 0;
}}
@media screen and (max-width: 425px){
header__basket{
   display:none;
}}
body{
display: block;
}
.wrapper{
  position:relative;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.header{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 1000;
}
.header__content{
  height: 72px;
  background-color: #fff;
  margin: auto;
  box-shadow: 0px 0px 16px rgb(38 38 38 / 16%);
}
.container{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
}
.header__body{
  display: flex;
  height: 72px;
  justify-content: space-between;
}
.header__logo{
  margin:28px 0 0 -1px;
}
.header__logo img{
  width: 119.23px;
  height: 12.31px;
}
.header__sign-in{
  padding-top: 16px;
}
.header__sign-in img{
  width: 78px;
  height: 40px;

}
.header__items{
  display: flex;
}

.header__basket{
  margin:25px 15px 0 0;
  padding-left: 27px;
  
}
.header__basket img{
  width: 19px;
  height: 22px;
}
.search{
  margin: 128px auto 0;
  height: 24px;
}
.search__form{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
}
.search__form input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  opacity: 0.5;
}
.h1__form{
  font-size: 22px;
  margin: 56px auto 0;
}

.picture__form {
  width: 308px;
  height: 366px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.box img{
  width: 308px;
  height: 256px;
}
