@media screen and (max-width: 425px){
header__sign-in{
   margin:16px 16px 0 0;
}}
@media screen and (max-width: 425px){
header__basket{
   display:none;
}}
body{
display: block;
}
.wrapper{
  position:relative;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.container{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
}
/*HEADER*/
.header{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 1000;
}
.header__content{
  height: 72px;
  background-color: #fff;
  margin: auto;
  box-shadow: 0px 0px 16px rgb(38 38 38 / 16%);
}

.header__body{
  display: flex;
  height: 72px;
  justify-content: space-between;
}
.header__logo{
  margin:28px 0 0 -1px;
}
.header__logo img{
  width: 119.23px;
  height: 12.31px;
}
.header__sign-in{
  padding-top: 16px;
}
.header__sign-in img{
  width: 78px;
  height: 40px;

}
.header__items{
  display: flex;
}

.header__basket{
  margin:25px 15px 0 0;
  padding-left: 27px;
  
}
.header__basket img{
  width: 19px;
  height: 22px;
}
/*HEADER*/
/*SEARCH*/
.search{
  margin: 128px auto 0;
  height: 24px;
}
.search__form{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
}
.search__form input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  opacity: 0.5;
}
/*SEARCH*/
/*REST*/
.rest{
  margin-top:56px;
}
.container title{
  font-size: 22px;
}
.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top:16px;
}
.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.rest .card {
  padding: 0;
  margin: 0;
  transition: transform 0.1s linear;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 20px;
  
}
.card .title{
  margin-top:16px;
  font-size: 16px;
  color:#1D1D1D;
}
.card .title2 {
  margin-bottom:20px;
}
.rest .card-image img {
  width: 100%;
  height: auto;
}
.card .title1{
  
  font-size: 14px;
  color:#1D1D1D;
}
.card .title2{
  color:#1D1D1D;
  font-size: 13px;
}
/*REST*/
/*FOOTER*/
.footer{
  background: #262626;
  width: 100%;
  color:#fff;
  height: 552px;;
}
.footer__header img{
  margin-top: 62px;
  padding-left: 10px;
  width: 190.77px;
  height: 19.69px;
}
.footer .container hr {
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
  size: 1px;
  margin-top: 40.31px;
  margin-bottom: 32px;
}
.hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
.footer__menu {
  color: #fff;
  padding-top: 32px;
  padding-bottom: 48px;
  border-bottom: 1px solid #979797;
}
.footer__select-item {
  background-color: #3b3b3b;
  color: #fff;
  font-size: 13px;
  padding: 12px 128px 12px 48px;
  background-image: url('world.png');
  background-size: 15.72px auto;
  background-repeat: no-repeat;
  background-position: 7% center;
  margin-bottom: 20px;
}

select {
  
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  cursor: default;
  font: 400 13.3333px Arial;
}
option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}



.search__link {
  color: #fff;
  text-decoration: none;
}
.search__link-sharp {
  color: #49A144;
  margin-bottom: 17px;
}
.p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.footer__link-facebook {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-image: url('facebook.png');
  background-size: 24px auto;
}
.footer__link-twitter {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-image: url('twitter.png');
  background-size: 24px auto;
}
.footer__link-instagram {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-image: url('instagram.png');
  background-size: 24px auto;
}
.footer__play{
  margin-top: 40px;
}
.App_Store{
  display: block;
  width:120.66px;
  height: 40px;
  margin-left: 100px;
  margin-right: auto;
}
.Google_play{
  display: block;
  width:135px;
  height: 40px;
  margin-left: 100px;
  margin-right: auto;
  
}
/*FOOTER*/
